# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [7]:
import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Agora mostre as 10 **últimas** linhas do DataFrame.

In [5]:
df = pd.read_csv("StudentsPerformance.csv")
df.head(11)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [8]:
df.shape

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [9]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [17]:
df.isnull

<bound method DataFrame.isnull of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [32]:
remover = ["parental level of education","lunch"]

df_remov = df.drop(remover, axis = 1)
df_remov

,gender,race/ethnicity,test preparation course,math score,reading score,writing score
0,female,group B,none,72,72,74
1,female,group C,completed,69,90,88
2,female,group B,none,90,95,93
3,male,group A,none,47,57,44
4,male,group C,none,76,78,75
...,...,...,...,...,...,...
995,female,group E,completed,88,99,95
996,male,group C,none,62,55,55
997,female,group C,completed,59,71,65
998,female,group D,completed,68,78,77
999,female,group D,none,77,86,86

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [39]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

df_new = df.rename(nome_colunas, axis = 1)
df_new

,Gênero,Raça/Etnia,parental level of education,lunch,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [77]:
media_m = df_new['Nota_Matemática'].mean()
media_l = df_new['Nota_Leitura'].mean()
media_r = df_new['Nota_Redação'].mean()
print(media_m, media_l, media_r)
mediana_m = df_new['Nota_Matemática'].median()
mediana_l = df_new['Nota_Leitura'].median()
mediana_r = df_new['Nota_Redação'].median()
print(mediana_m, mediana_l, mediana_r)
dp_m = df_new['Nota_Matemática'].std()
dp_l = df_new['Nota_Leitura'].std()
dp_r = df_new ['Nota_Redação'].std()
print(dp_m, dp_l, dp_r)

66.089 69.169 68.054
66.0 70.0 69.0
15.163080096009468 14.60019193725222 15.195657010869642

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [112]:
mask1 = (df_new['Nota_Matemática'] > media_m)
mask2 = (df_new['Nota_Leitura'] > media_l)
mask3 = (df_new['Nota_Redação'] > media_r)
df_acima_media = df_new[mask1 & mask2 & mask3]
df_acima_media

,Gênero,Raça/Etnia,parental level of education,lunch,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [117]:
df_new['Nota_Geral'] = (df_new['Nota_Matemática'] + df_new['Nota_Leitura'] + df_new['Nota_Redação'])/3
df_new.round(1)

,Gênero,Raça/Etnia,parental level of education,lunch,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação,Nota_Geral
0,female,group B,bachelor's degree,standard,none,72,72,74,72.7
1,female,group C,some college,standard,completed,69,90,88,82.3
2,female,group B,master's degree,standard,none,90,95,93,92.7
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.3
4,male,group C,some college,standard,none,76,78,75,76.3
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.0
996,male,group C,high school,free/reduced,none,62,55,55,57.3
997,female,group C,high school,free/reduced,completed,59,71,65,65.0
998,female,group D,some college,standard,completed,68,78,77,74.3
999,female,group D,some college,free/reduced,none,77,86,86,83.0

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [123]:
contar = df_new['Gênero'].value_counts()
contar

Gênero
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [125]:
contar_raça = df_new['Raça/Etnia'].value_counts()
contar_raça

Raça/Etnia
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [127]:
contar_prep = df_new['Curso_Prep'].value_counts()
contar_prep

Curso_Prep
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [144]:
Gênero = df_new.groupby('Gênero')

media = Gênero["Curso_Prep"].value_counts(normalize = True)

media

Gênero  Curso_Prep
female  none          0.644788
        completed     0.355212
male    none          0.639004
        completed     0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [176]:
base_gênero = df_new.groupby('Gênero')
base_raça = df_new.groupby('Raça/Etnia')
base_curso = df_new.groupby('Curso_Prep')

media_gm = base_gênero["Nota_Matemática"].mean()
media_gl= base_gênero["Nota_Leitura"].mean()
media_gr = base_gênero["Nota_Redação"].mean()
media_gm, media_gl, media_gr #Redação possui a maior discrepância

(Gênero
 female    63.633205
 male      68.728216
 Name: Nota_Matemática, dtype: float64,
 Gênero
 female    72.608108
 male      65.473029
 Name: Nota_Leitura, dtype: float64,
 Gênero
 female    72.467181
 male      63.311203
 Name: Nota_Redação, dtype: float64)

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [177]:
base_gênero = df_new.groupby('Gênero')
base_raça = df_new.groupby('Raça/Etnia')
base_curso = df_new.groupby('Curso_Prep')

media_rm = base_raça["Nota_Matemática"].mean()
media_rl= base_raça["Nota_Leitura"].mean()
media_rr = base_raça["Nota_Redação"].mean()
media_rm, media_rl, media_rr
#matemática teve a maior discrepância

(Raça/Etnia
 group A    61.629213
 group B    63.452632
 group C    64.463950
 group D    67.362595
 group E    73.821429
 Name: Nota_Matemática, dtype: float64,
 Raça/Etnia
 group A    64.674157
 group B    67.352632
 group C    69.103448
 group D    70.030534
 group E    73.028571
 Name: Nota_Leitura, dtype: float64,
 Raça/Etnia
 group A    62.674157
 group B    65.600000
 group C    67.827586
 group D    70.145038
 group E    71.407143
 Name: Nota_Redação, dtype: float64)

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [178]:
base_gênero = df_new.groupby('Gênero')
base_raça = df_new.groupby('Raça/Etnia')
base_curso = df_new.groupby('Curso_Prep')

media_cm = base_curso["Nota_Matemática"].mean()
media_cl= base_curso["Nota_Leitura"].mean()
media_cr = base_curso["Nota_Redação"].mean()
media_cm, media_cl, media_cr
#redação teve a maior discrepância

(Curso_Prep
 completed    69.695531
 none         64.077882
 Name: Nota_Matemática, dtype: float64,
 Curso_Prep
 completed    73.893855
 none         66.534268
 Name: Nota_Leitura, dtype: float64,
 Curso_Prep
 completed    74.418994
 none         64.504673
 Name: Nota_Redação, dtype: float64)

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [186]:
base_gênero = df_new.groupby('Gênero') #o agrupamento "Raça/Etnia obteve a maior discrepância das notas gerais"
base_raça = df_new.groupby('Raça/Etnia') 
base_curso = df_new.groupby('Curso_Prep')

media_mc = base_curso["Nota_Geral"].mean()
media_mc

Curso_Prep
completed    72.669460
none         65.038941
Name: Nota_Geral, dtype: float64

In [187]:
base_gênero = df_new.groupby('Gênero')
base_raça = df_new.groupby('Raça/Etnia')
base_curso = df_new.groupby('Curso_Prep')

media_mr = base_raça["Nota_Geral"].mean()
media_mr

Raça/Etnia
group A    62.992509
group B    65.468421
group C    67.131661
group D    69.179389
group E    72.752381
Name: Nota_Geral, dtype: float64

In [188]:
base_gênero = df_new.groupby('Gênero')
base_raça = df_new.groupby('Raça/Etnia')
base_curso = df_new.groupby('Curso_Prep')

media_mg = base_gênero["Nota_Geral"].mean()
media_mg

Gênero
female    69.569498
male      65.837483
Name: Nota_Geral, dtype: float64